/* CSS Variables */


/* Global Styles */
/* Creates and sets the global variables*/
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --clr-primary: #9c5526;
    --clr-bg: #54331d;
    --clr-neutral:#ede7e3;
    --clr-black: hsla(30, 4%, 20%, 0.8);
    --clr-neutral75: hsl(24, 22%, 91%, 0.75);
}
/* Sets the font-family, color, line height and background image for body */
body { 
    font-family:'Open Sans', sans-serif;
    color: --clr-black;
    line-height: 1.5;

   
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
         url('../images/coffee.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
/*gives h1,h3,h4 font-family, weight, and line height */
h1, h3, h4 {
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.488rem;
}

h3 {
    font-size: 1.728rem;
}

h4{
    font-size: 1.44rem;
}

/* Header Styles */
header {
    color: var(--clr-neutral);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#established {
    color: var(--clr-neutral75);
}

/* Main Styles */

main {
    background-color: var(--clr-neutral);
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

main h3 {
color: var(--clr-primary);
margin-bottom: 1rem;
}

main h4 {
color: var(--clr-primary);
margin-bottom: 1rem;
text-align: center;
}

#about #menu {
    margin-bottom: 1rem;
}

#menu p.title{
    text-align: left;
}
#menu p.price{
    text-align: right;
}


/* About Section */
p {
    margin: 0.5rem;
}
section#about > ul > li {
    list-style-type: none;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 0em, 0.3em;
    padding-left: 1.5em;
}


/* Menu Section */


hr {
    height: 3px;
}

.item {
    display: flex;
    flex-direction: row;
}

.item p {
    display: inline-block;
}


.title {
    width: 75%;
}

.price {
    width: 25%;
}

/* Location and Hours Section */
section#location div{
    text-align: center;
}
section#location iframe{
    width: 360px;
    height: 270px;
    border: 0px;
    margin-bottom: 1rem;
}
section#location div p.phone a{
    color: var(--clr-primary);
    text-decoration: none;
    border-bottom: transparent solid 2px;
}
section#location div p.phone a:hover{
    border-bottom: solid 2px;
}
/* Footer Section */
footer{
    background-color: var(--clr-bg);
    color: var(--clr-neutral);
    font-size: 0.833rem;
    text-align: center;
    padding: 1rem 0px;
    margin-top: 2rem;
}


